<div class="container" style="margin-top: 80px;">
    <div class="row">
        <div class="col">
            <p class="text-end">
             <h3>Hola, te damos la bienvenida a nuestras Novedades!</h3>   
            <span>Hola de nuevo, {{persona}}!</span>
            <a href="/admin/login/logout" class="btn btn-danger">Cerrar sesión <i class="fas fa-sign-out-alt"></i></a>
        </p>
        </div>
    </div>
</div>